
<!DOCTYPE HTML>
 
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <title>IOT</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script src="../js/jquery.min.js"></script>
	  <script src="../js/bootstrap.min.js"></script>
	  <script type="text/javascript" th:src="@{../js/main.js}" src="../static/js/main.js"></script>
	  <script type="text/javascript" th:src="@{../js/jqueryAjaxGet.js}" src="../static/js/jqueryAjaxGet.js"></script>
	  <script src="../js/jquery.PrintArea.js"></script>
      <link rel="stylesheet" href="../css/bootstrap.min.css" />
</head>

 <style>
      table th, table td {
         padding: 5px;
      }
      .message {
         color: blue;
      }
      
      body {
	background-color: #001a33; 
}
#con {
background-color: #FFFFFF;
}
   </style>
   
  <body dir="rtl">
  <div class="container">
    <th:block th:include="/_menu"></th:block>
     </div>
     <br>
     <br>
    <div class="container">
      <!-- Include _menu.html -->
       
       
      <h2>QRCode</h2>
      <div align="center" >
      <div class="PrintArea" id="PrintArea">
      <img th:src="*{'data:img/jpg;base64,'+{tajhizz.qrcode}}" class="img-responsive">
      </div>
      <br>
      <input type="submit" id="print_button" class="btn btn-primary print" value="print">
      </div>
     </div>    
       
   </body>
</html>